include ../includes/nav.jade
div(class='container-fluid')
    
    div(class='container-fluid' id='home')
        div(class='jumbotron lawn-mower')
            div(class='container')
                div(class='row')
                    h1 we are cutting edge mowers....Literally!
                    div(class='container-fluid')
                        button(type='button' class='btn btn-primary btn-lg'  ui-sref='signup' ) Sign up for service
                        button(type='button' class='btn btn-lg btn-warning') Reschedule Appointment
    div(id='iframe-animate')
        iframe(src='../images/90637.gif' width='380' height="288" frameBorder="0" class="giphy-embed")
    div(id='grass')
        img(src='../images/grass.png' width='150%')
    