include ../includes/nav.jade
br
div(class="container")
    div(class="col-md-3")
    div(class="col-md-6")
         div(class="row myborder")
             h4(style="color: #7EB59E; margin: initial; margin-bottom: 10px;") Sign Up Now
             hr
             div(class="input-group margin-bottom-20")
                span(class="input-group-addon")
                    i(class="glyphicon glyphicon-user mycolor")
                input(size="60" maxlength="255" class="form-control" placeholder="User Name" name="UserRegistration[username]" id="UserRegistration_username" type="text")                                                        
             div(class="input-group margin-bottom-20")
                span(class="input-group-addon")
                    i(class="glyphicon glyphicon-lock mycolor")
                input(size="60" maxlength="255" class="form-control" placeholder="Password" name="UserRegistration[password]" id="UserRegistration_password" type="password")                                   
             div(class="input-group margin-bottom-20")
                span(class="input-group-addon")
                    i(class="glyphicon glyphicon-user mycolor")
                input(size="60" maxlength="255" class="form-control" placeholder="First Name" name="UserRegistration[fname]" id="UserRegistration_fname" type="text")                                    
             div(class="input-group margin-bottom-20")
                span(class="input-group-addon")
                    i(class="glyphicon glyphicon-user mycolor")
                input(size="60" maxlength="255" class="form-control" placeholder="Last Name" name="UserRegistration[lname]" id="UserRegistration_lname" type="text")
             div(class="input-group margin-bottom-20")
                span(class="input-group-addon")
                    i(class="glyphicon glyphicon-envelope mycolor")
                input(size="60" maxlength="255" class="form-control" placeholder="Address" name="UserRegistration[address]" id="UserRegistration_address" type="text")                            
                
             div(class="input-group margin-bottom-20")
                span(class="input-group-addon")
                    i(class="glyphicon glyphicon-envelope mycolor")
                input(size="60" maxlength="50" class="form-control" placeholder="City" name="UserRegistration[city]" id="UserRegistration_city" type="text")
                
             div(class="input-group margin-bottom-20")
                span(class="input-group-addon")
                    i(class="glyphicon glyphicon-envelope mycolor")
                input(size="60" maxlength="25" class="form-control" placeholder="state" name="UserRegistration[state]" id="UserRegistration_state" type="text")
                
             div(class="input-group margin-bottom-20")
                span(class="input-group-addon")
                    i(class="glyphicon glyphicon-envelope mycolor")
                input(size="60" maxlength="5" class="form-control" placeholder="Zip" name="UserRegistration[zip]" id="UserRegistration_zip" type="text")     
                
             div(class="input-group margin-bottom-20")
                span(class="input-group-addon")
                    i(class="glyphicon glyphicon-phone mycolor")
                input(size="60" maxlength="255" class="form-control" placeholder="Contact Number" name="UserRegistration[contactnumber]" id="UserRegistration_contactnumber" type="text")                                   
             div(class="row")
                div(class="col-md-12")
                    button(class="btn-u pull-left" type="submit") Sign Up
        div(class="col-md-2")
    